.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2.6git rem;
  padding-bottom: 2rem;
}

.footer__icon {
  max-width: 40px;
}
.rsvp form > h1,
h2,
p {
  margin: 0;
}
/* Tablet Size */

@media only screen and (max-width: 660px) {
  .footer__initials {
    font-size: 2.2rem;
  }
}

/* Mobile Size */

@media only screen and (max-width: 390px) {
  .footer__initials {
    font-size: 1.7rem;
  }
}
