.lodging {
  text-align: center;
  padding: 0 10px 0 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lodging__image {
  padding: 30px 0 50px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.lodging__bookingImage {
  padding: 20px 0 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.lodging > h1 {
  padding: 60px 0 20px 0;
  font-size: 54px;
}

.lodging p {
  padding-bottom: 15px;
}

.lodging__button {
  font-size: 18px;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Tablet Size */

@media only screen and (max-width: 660px) {
  .lodging__image {
    width: 280px;
  }

  .lodging h1 {
    font-size: 32px;
    padding: 20px 0 30px 0;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lodging__bookingImage {
    padding: 30px 0 30px 0;
  }
}

/* Mobile */

@media only screen and (max-width: 380px) {
  .lodging > h1 {
    padding: 10px 0 30px 0;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lodging__bookingImage {
    width: 150px;
    padding: 10px 0 10px 0;
  }
}
