.lodging {
  text-align: center;
  padding: 0 10px 0 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lodging__image {
  padding: 30px 0 50px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.lodging__bookingImage {
  padding: 20px 0 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.lodging > h1 {
  padding: 20px 0 20px 0;
  font-size: 54px;
}

.lodging p {
  padding-bottom: 15px;
}

.lodging__button {
  /* background-color: rgb(0, 0, 0);  */
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

.lodging__button:hover {
  background-color: #064b00;
  color: #fff;
  transition: 0.5s;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.lodging__column {
  flex: 50%;
  padding: 10px;
  padding-bottom: 0px;
}
/* Tablet Size */

@media only screen and (max-width: 660px) {
  .lodging__image {
    width: 280px;
  }

  .lodging h1 {
    font-size: 32px;
    padding: 10px 0 10px 0;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lodging__bookingImage {
    padding: 30px 0 30px 0;
  }
}

/* Mobile */

@media only screen and (max-width: 380px) {
  .lodging > h1 {
    padding: 10px 0 30px 0;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lodging__bookingImage {
    width: 150px;
    padding: 10px 0 10px 0;
  }
}
