.mainInfo {
  text-align: center;
  color: white;
}

.mainInfo p {
    color: white;
}

.mainInfo__initials {
  padding-top: 60px;
  font-family: cursive;
  font-size: 4rem;
}

hr {
  width: 40%;
  margin: 18px auto 24px auto;
  
}
