.mainInfo {
  text-align: center;
  color: white;
  background-image: url('../images/smokey-mountain-backdrop.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.mainInfo__nameTitle {
  /* color: black !important; */
  height: 150px;
  font-size: 80px;
  font-family: 'Great Vibes', cursive;
  padding-top: 75px;
  padding-bottom: 40px;
  color: white !important;
  margin-top: 0;
}
.mainInfo__countdown {
  font-size: 3rem;
}

.mainInfo > p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* padding: 5px 0 50px 0; */
  margin-bottom: 0px;
  padding-bottom: 1.5rem;
}

.mainInfo__initials {
  padding-top: 60px;
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
}

.mainInfo__date {
  padding-bottom: 30px;
}
.banner__h3 {
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

hr {
  width: 40%;
  margin: 18px auto 24px auto;
}

/* Tablet Size */

@media only screen and (max-width: 660px) {
  p {
    padding-top: 70px;
  }
  .mainInfo__nameTitle {
    padding-top: 30px;
    height: 100px;
  }
  .mainInfo__countdown {
    font-size: 2.5rem;
  }
  .mainInfo__countdown > p {
    font-size: 1rem;
  }
  .banner__h3 {
    font-size: 1.3rem;
  }
}

/* mobile narrow */

@media only screen and (max-width: 420px) {
  .mainInfo__nameTitle {
    padding-top: 30px;
    height: 90px;
  }
  p {
    padding-top: 40px;
  }
  h3 {
    font-size: 1rem !important;
  }
  .mainInfo__nameTitle {
    padding-top: 40px;
    font-size: 60px !important;
  }
  .mainInfo__countdown {
    font-size: 2rem;
  }
  .mainInfo__countdown > p {
    font-size: 1rem;
  }

  .mainInfo > p {
    padding: 0 8px 34px 8px;
  }

  .banner__h3 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* iphone 12 mini */

@media only screen and (max-width: 330px) {
  p {
    padding-top: 20px;
  }
  h3 {
    font-size: 3rem;
  }
  .mainInfo__nameTitle {
    padding-top: 80px;
    font-size: 40px;
  }
  .mainInfo__date {
    padding-bottom: 70px !important;
  }
}

/* RSVP Form */
