.ourStory h1 {
  padding: 40px 0 40px 0;
  text-align: center;
}

.ourStory p {
  padding: 0 80px 0 80px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.ourStory__carousel {
  padding: 50px 190px 10px 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* border-spacing: 20px; */
}

.ourStory__image {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  display: block;
}
.slide .selected {
  height: 400px;
}

/* Tablet Size */

@media only screen and (max-width: 660px) {
.ourStory p{
  font-size: 20px !important;
    /* padding: 0 20px 0 20px !important; */
    padding-left: 30px !important;
    padding-right: 30px !important;
}


  p {
    
  }

  .ourStory__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 300px !important; */
  }
  .ourStory__carousel {
    padding: 50px 60px 90px 60px !important;
  }

}
