.questions {
  text-align: center;
  padding: 0 20px 0 20px;
}

.questions > h1 {
  padding: 20px 0 20px 0;
  font-size: 44px;
}
.questions .questions > h2 {
  font-family: 'Montserrat', sans-serif;
}
