.registry {
  text-align: center;
}
.registry__icon-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.registry__icon {
  max-width: 100px;
  padding-bottom: 3rem;
  padding-right: 1rem;
}

.registry > h1 {
  padding-bottom: 3rem;
  align-items: center;
}

h3 {
  padding-bottom: 2rem;
}

p {
  padding-bottom: 2rem;
}
