.rsvp {
  background: tan;
  /* padding-top: 26px;
  padding-bottom: 22px;
  color: #636363;
  text-align: center; */
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.rsvp__container {
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  height: 400px;
  padding: 50px;
}

/* rsvp form */

h1 {
  font-size: 48px;
  /* padding-bottom: 2rem; */
}

.rsvp__label {
  display: flex;
  color: black;
  padding-bottom: 2rem;
  font-size: 16px;
  padding-right: 6px;
}
.rsvp input,
.rsvp textarea,
.rsvp select {
  /* padding: 18px 20px; */
  /* color: #eee; */
  /* background: #373233; */
  /* margin-top: 30px; */
  /* border: 0; */
  /* outline: none; */
  /* font-size: 15px; */
  /* line-height: 24px; */
  /* width: 65%; */
  margin-left: 1rem;
  font-size: 16px;
}
.rsvp input:focus,
.rsvp textarea:focus,
.rsvp select:focus {
  color: black;
}
.rsvp__button {
  font-size: 20px;
}

/* Message Warning */

#message-warning,
#message-success {
  display: none;
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning {
  color: #d72828;
}


#message-warning i,
#message-success i {
  margin-right: 10px;
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .rsvp {
    width: 500px !important;
  }

  .rsvp__label {
    font-size: 16px !important;
  }

  .rsvp .section-head {
    margin-bottom: 30px;
  }
  .rsvp .header-col h1:before {
    font-size: 66px;
    line-height: 66px;
  }
  .rsvp .section-head p.lead {
    font: 17px/33px opensans-light, sans-serif;
  }
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .rsvp {
    padding-bottom: 66px;
    width: 400px !important;
  }

  .rsvp .section-head {
    margin-bottom: 12px;
  }
  .rsvp .section-head h1 {
    font: 16px/24px 'opensans-bold', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
  }
  .rsvp h1 span {
    display: block;
  }
  .rsvp .header-col {
    padding-top: 0;
  }
  .rsvp .header-col h1:before {
    content: none;
  }
  .rsvp .section-head p.lead {
    text-align: center;
  }

  /* form */
  .rsvp label {
    float: none;
    width: 100%;
  }
  .rsvp input,
  .rsvp textarea,
  .rsvp select {
    margin-bottom: 6px;
    width: 90%;
  }
 
  #message-warning,
  #message-success {
    width: 100%;
    margin-left: 0;
  }
}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  .rsvp {
    width: 300px !important;
  }
  .rsvp__label {
    font-size: 14px !important;
  }
  .rsvp .banner-text h1 {
    font: 40px/1.1em 'opensans-bold', sans-serif;
    margin: 0 auto 24px auto;
    padding-top: 80px;
  }
  .rsvp .banner-text h3 {
    font: 14px/1.9em 'librebaskerville-regular', sans-serif;
    width: 90%;
  }

  .rsvp__nameTitle {
    color: orange !important;
    font-size: 40px !important;
    line-height: 50px !important;
  }

  /* rsvp social links */
  .rsvp .social {
    font-size: 20px;
  }
  .rsvp .social li {
    margin: 0 6px;
  }
}
