.thingsToDo {
  text-align: center;
  /* padding: 0 10px 0 10px; */
  margin-left: 10%;
  margin-right: 10%;
}

.thingsToDo > h1 {
  padding: 20px 0 20px 0;
  /* font-size: 54px; */
}

button {
  font-size: 1.2rem;
  padding: 10px 44px;
  border-radius: 34px;
  background-color: lightseagreen;
  color: white;
  border: 3px;
}

.thingsToDo__image {
  padding: 30px 0 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.thingsToDo__bottom {
  padding-bottom: 5rem;
}

/* Tablet Size */

@media only screen and (max-width: 660px) {
  .thingsToDo__image {
    width: 270px;
  }
  .thingsToDo > h1 {
    padding: 40px 0 20px 0;
  }
}

/* Mobile */

@media only screen and (max-width: 400px) {
  .thingsToDo > h1 {
    padding: 20px 0 20px 0;
  }
}
