.weddingParty {
  text-align: center;
  padding: 0 10px 0 10px;
}

.weddingParty > h1 {
  padding: 30px 0 20px 0;
  font-size: 54px;
}
.weddingParty__title {
  font-size: 34px;
  font-family: 'Parisienne', cursive;
}

.weddingParty__image {
  padding: 20px 0 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.weddingParty__name {
  font-size: 26px;
}

.column {
  padding-bottom: 70px;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

/* Small Screen  */

@media only screen and (max-width: 795px) {
  .column {
    padding-bottom: 100px;
  }
}

/* Tablet Size */

@media only screen and (max-width: 660px) {
  .weddingParty__image {
    width: 150px;
  }
  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .column {
    padding-bottom: 120px;
  }
}

/* Mobile  */

@media only screen and (max-width: 380px) {
  .column {
    padding-bottom: 150px;
  }
}
